* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0;
    background-color: dimgrey;
}
.medsos ul li {
    display: inline-block;
    color: aliceblue;
    margin-right: 10px;
}
.container{
    width: 80%;
    margin:0 auto;
    /* border: 1px solid; */
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
/* header {
   border:1px solid;
   
} */
header h1{
    /* border: 1px solid; */
    float: left;
    padding:15px 0;
    color: dimgray;
}
header ul {
    /* border: 1px solid; */
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: dimgray;
    color: white;
}
.active {
    background-color: dimgray;
    color: white;
}
.banner {
    height: 60vh;
    border:1px solid;
    background-image: url(../img/bg.jpeg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: '';
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(64, 64, 64, .6);
}
.banner h2 {
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: dimgray;
    margin-bottom: 20px;
}
.about p {
    color: darkgray;
    word-spacing: 2px;
    line-height: 25px;
}
.aboutme  {
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;
}
img{
    width: 50%;
    border-radius: 20px;
}
.aboutme

.box{
    padding: 10px;
}
footer {
    padding: 30px 0;
    background-color: black;
    color: white;
    text-align: center;
}